body {
  background-color: beige;
  color: #3D2B1F;
}

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
}

hr {
  border: 1px solid #3D2B1F;
}

.list-item {
  background-color: beige;
  border-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
.list-item:hover {
  background-color: beige;
  border-color: #836953;
}

.add-button {
  background-color: #3D2B1F;
  border-color: #3D2B1F;
  color: beige;
  margin: 10px 10px;
}
.add-button:hover {
  background-color: #836953;
  border-color: #836953;
}

.done-button {
  background-color: #3D2B1F;
  border-color: #3D2B1F;
  color: beige;
  margin-right: 10px;
}
.done-button:hover {
  background-color: #836953;
  border-color: #836953;
}

.edit-button {
  background-color: #3D2B1F;
  border-color: #3D2B1F;
  color: beige;
}
.edit-button:hover {
  background-color: #836953;
  border-color: #836953;
}
